#header-logo {
  background-image: url("https://cru1zzz3.github.io/openshift-customization/img/garfield-small.png");
  background-color: #11ffee00;
  background-position: left center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}
